:root {
    --spacer: 0.25rem;
    --big-spacer: 0.5rem;
    --red: #C5004A;
    --darkred: #7F0036;
    --lightgray: #e0e0e0;
    --gray: #C0C0C0;
    --darkgray: #333;
    --navy: #17050F;
    --blue: #082840;
    --white: #fff;
}

* {
    box-sizing: border-box;
  }

html,
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--darkgray);
    background-color: var(--white);
}

main {
    padding: 1rem;
  }
  main :first-child {
    margin-top: 0;
  }
  header {
    border-bottom: 1px dashed var(--lightgray);
  }
  header:after {
    content: "";
    display: table;
    clear: both;
  }

h1 {
    padding: var(--spacer);
    margin: var(--spacer);
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: dotted;
}

.strong {
  font-weight: bold;
}