---
layout: layouts/home.njk
title: Home
permalink: /
eleventyNavigation:
  key: Home
  order: 1
---
<h3>Hello! My name is Shem.</h3>
I am a web developer with particular interest in lightweight micro-sites compatible with featurephones and Kai OS. Please take a look around and feel free to contact me with any questions or inquiries.
<br />
<h3>Latest Posts</h3>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}