---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - project
    - projects
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged "{{ tag }}""
permalink: /tags/{{ tag }}/
---
<h3>Tag: <span class="tag-title">{{ tag }}</span></h3>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
